.artist-card {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.artist-card img {
    max-height: 250px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
